h1 {
    text-align: center;
}

.cats-container {
    display: grid;
    margin: 0 auto;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 960px;
    justify-content: center;
}

.cat-tile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 300px;
    height: fit-content;
    gap: 8px;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 16px;
    background-color: blanchedalmond;
}

.cat-image {
    max-width: 100%;
    height: auto;
}

.heart {
    cursor: pointer;
    align-self: end;
    justify-self: end;
}